@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --background: #FFFFFF;
  --background-secondary: #F2F2F7;
  
  --color-primary-100: #ACBFD1;
  --color-primary-200: #829EBB;
  --color-primary-300: #5A7EA3;
  --color-primary-400: #435E7A;
  --color-primary-500: #2C3E50;
  --color-primary-600: #1B2530;
  --color-secondary-100: #B1C2D4;
  --color-secondary-200: #8AA4BE;
  --color-secondary-300: #6386A9;
  --color-secondary-400: #4A6785;
  --color-secondary-500: #34495E;
  --color-secondary-600: #1F2B37;
  --color-accent-100: #BBDDF3;
  --color-accent-200: #78BAE7;
  --color-accent-300: #3498DB;
  --color-accent-400: #217EBC;
  --color-accent-500: #1A6293;
  --color-accent-600: #134669;
  --color-error-100: #F7C3BE;
  --color-error-200: #EF887D;
  --color-error-300: #E74C3C;
  --color-error-400: #D42B1A;
  --color-error-500: #A52214;
  --color-error-600: #75180E;
  --color-warning-100: #FBDEB0;
  --color-warning-200: #F7BD61;
  --color-warning-300: #F39C12;
  --color-warning-400: #CC810A;
  --color-warning-500: #9F6408;
  --color-warning-600: #724806;
  --color-success-100: #C2F1D6;
  --color-success-200: #86E4AD;
  --color-success-300: #49D685;
  --color-success-400: #27AE60;
  --color-success-500: #1E884B;
  --color-success-600: #166136;
  --color-neutral-100: #FFFFFF;
  --color-neutral-200: #e8e8e8;
  --color-neutral-300: #D2D2D2;
  --color-neutral-400: #BBBBBB;
  --color-neutral-500: #A4A4A4;
  --color-neutral-600: #8E8E8E;
  --color-neutral-700: #777777;
  --color-neutral-800: #606060;
  --color-neutral-900: #4A4A4A;
  --color-neutral-1000: #333333;

  --font-size-xs: 0.625rem;
  --font-size-sm: 0.75rem;
  --font-size-base: 0.875rem;
  --font-size-lg: 1rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.75rem;
  --font-size-4xl: 2.125rem;
  --font-size-5xl: 2.5rem;
  --font-size-6xl: 3rem;

  --box-shadow-default: 0px 3px 8px 0px rgba(0, 0, 0, 0.12), 0px 3px 1px 0px rgba(0, 0, 0, 0.04);

  --font-dm-sans: "DM Sans", sans-serif;
  --font-inter: "Inter", sans-serif;
  --foreground: var(--color-neutral-1000);
  --font-primary: var(--font-dm-sans);
  --font-secondary: var(--font-inter);
}

.font-dm-sans {
  font-family: var(--font-dm-sans);
}

.font-inter {
  font-family: var(--font-inter);
}

.dashboard-title, .analytics-title {
  font-family: var(--font-dm-sans);
}

.dashboard-subtitle, .analytics-subtitle {
  font-family: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

.stats-value {
  color: var(--color-secondary-600);
}

